---
layout: archive
title: "论文"
permalink: /zh/publications/
lang: zh
lang_switch: /publications/
author_profile: true
---

{% assign i18n = site.data.i18n.zh %}
{% if site.author.googlescholar %}
  <div class="wordwrap">也可以在 <a href="{{site.author.googlescholar}}">Google Scholar</a> 查看。</div>
{% endif %}

{% include base_path %}

{% if site.publication_category %}
  {% for category in site.publication_category %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        {% if category[0] == "manuscripts" %}
          <h2>{{ i18n.pub_journal }}</h2><hr />
        {% elsif category[0] == "conferences" %}
          <h2>{{ i18n.pub_conference }}</h2><hr />
        {% else %}
          <h2>{{ category[1].title }}</h2><hr />
        {% endif %}
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}
